* {
    margin: 0;
    padding: 0; 
}

html {
    height: 100vh;
    width: 100%;

} 
body {
    height: 100vh;
}
.main {
    background-color: green;
    width: 1200px; 
    height: 100vh; 
    margin: auto;
}

.sidebar {
    background-color: #f8fcfd;
    width: 30%;
    height: 100vh; 
    float: left; 
}

.content {
    width: 70%;
    height: 100vh; 
    float: right; 

}

/* Sidebar Action */
.sidebar #myphoto {
    position: relative;
    width: 115px; 
    height: 160px;
    left: calc(50% - 57.5px);
    margin-top: 40px;
    border-radius: 40px;
}
.sidebar .socialicon {
    display: flex; 
    justify-content: center;
}
.bi {
    opacity: 0.82;
}
.bi:hover {
    opacity: 1;
}
#selfname {
    margin: 3px auto 0px auto;
    text-align: center; 
    font-size: 23px; 
    font-family: Arial, Helvetica, sans-serif;
}

#introduction {
    text-align: center;
    font-family: Optima, sans-serif	;
    font-size: 13px;
    font-weight: 250;
    margin: 5px auto 40px auto; 
}
.sidebar .menuitem {
    text-align: center;
    margin-top: 29px;
    font-family: Optima, sans-serif;
    font-size: 16.5px;
    text-decoration: none;
    background-image: linear-gradient(#6495ED, #6495ED);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
#home:hover {
    cursor: pointer;
    background-size: 12% 0.1em !important;
}
#about:hover {
    cursor: pointer;
    background-size: 20% 0.1em !important;
}
#blog:hover {
    cursor: pointer;
    background-size: 10% 0.1em !important;
}
#projects:hover {
    cursor: pointer;
    background-size: 16% 0.1em !important;
}
#contact:hover {
    cursor: pointer;
    background-size: 22% 0.1em !important;
}

/* Home Styling */
.content .home {
    background: url(background4.jpg); 
    background-size: cover; 

}

.content #home1 {
    position: relative;
    font-family: Optima, sans-serif;
    top: 410px;
    left: 80px; 
    font-size: 32px;
}
.content #home2 {
    position: relative;
    font-family: Optima, sans-serif;
    top: 430px;
    left: 100px; 

}
.content #home3 {
    position: relative;
    font-family: Optima, sans-serif;
    top: 450px;
    left: 100px; 

}
.content #home4 {
    position: relative;
    font-family: Optima, sans-serif;
    top: 470px;
    left: 100px; 

}