* {
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;

} 
body {
    height: 100%;
    position: fixed;
}
.main {
    width: 1200px; 
    height: 100%;
    display: block;
    position: fixed; 
    left: 50%;
    transform: translateX(-50%);
}

.sidebar {
    background-color: #f8fcfd;
    width: 30%;
    height: 100%; 
    float: left; 
}

.maincontent {
    width: 70%;
    height: 100%; 
    float: right; 

}

/* Sidebar Action */
.sidebar #myphoto {
    position: relative;
    width: 115px; 
    height: 160px;
    left: calc(50% - 57.5px);
    margin-top: 40px;
    border-radius: 40px;
}
.sidebar .socialicon {
    display: flex; 
    justify-content: center;
}
.bi {
    opacity: 0.82;
}
.bi:hover {
    opacity: 1;
}
#selfname {
    margin: 3px auto 0px auto;
    text-align: center; 
    font-size: 23px; 
    font-family: Arial, Helvetica, sans-serif;
}

#introduction {
    text-align: center;
    font-family: Optima, sans-serif	;
    font-size: 13px;
    font-weight: 250;
    margin: 5px auto 40px auto; 
}
.sidebar .menuitem {
    text-align: center;
    margin-top: 29px;
    font-family: Optima, sans-serif;
    font-size: 16.5px;
    text-decoration: none;
    background-image: linear-gradient(#6495ED, #6495ED);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
#home:hover {
    cursor: pointer;
    background-size: 12% 0.1em !important;
}
#about:hover {
    cursor: pointer;
    background-size: 20% 0.1em !important;
}
#blog:hover {
    cursor: pointer;
    background-size: 10% 0.1em !important;
}
#projects:hover {
    cursor: pointer;
    background-size: 16% 0.1em !important;
}
#contact:hover {
    cursor: pointer;
    background-size: 22% 0.1em !important;
}

/* Home Styling */
.maincontent #homepage {
    display: block; 
    transition: opacity 1.5s ease-out; 
    height: 0; 
    overflow: hidden; 
    background: url(img/background4.jpg); 
    background-size: cover; 
}

.maincontent #home1 {
    position: relative;
    font-family: Optima, sans-serif;
    top: 430px;
    left: 80px; 
    font-size: 32px;
}
.maincontent #home2 {
    position: relative;
    font-family: Optima, sans-serif;
    top: 400px;
    left: 100px; 
    font-size: 18px;

}
.maincontent #homebutton {
    position: relative;
    font-family: Optima, sans-serif;
    text-align: center;
    top: 410px;
    left: 100px;
    width: 165px; 
    height: 33px; 
    line-height: 33px; 
    padding: 5px;
    text-decoration: none; 
    color: black;  
    border: 1px solid black; 
    border-radius: 2px;
}

.maincontent #homebutton:hover {
    cursor: pointer;
    background-color: #F8F8F8; 
}
/* About Page */
.maincontent #aboutpage {
    transition: opacity 1.5s ease-out; 
    height: 0; 
    overflow-x: hidden;
    overflow-y: scroll;
}
.maincontent #aboutpage .ui {
    position: relative;
    top: 10px; 
    left: 45px; 
    width: 760px; 
}
.maincontent #aboutpage #coursesh {
    position: relative;
    top: 19px;
    left: 50px;
    width: 760px; 
}
.maincontent #aboutpage #courses {
    position: relative;
    top: 8px;
    left: 60px;
    width: 760px; 
}
.maincontent #aboutpage #labassistanth {
    position: relative;
    top: 0px;
    left: 60px;
    width: 760px; 
}
.maincontent #aboutpage #uraph {
    position: relative;
    top: 0px;
    left: 50px;
}

.maincontent #aboutpage #codesuiteh {
    position: relative;
    top: -5px;
    left: 50px;
    width: 760px; 
}
.maincontent #aboutpage #dailycalh {
    position: relative;
    top: -1px;
    left: 50px;
    width: 760px; 
}
/* Blog Page */
.maincontent #blogpage {
    transition: opacity 1.5s ease-out; 
    height: 0; 
    overflow: hidden; 
}
.maincontent #blogpage .theform {
    width: 100%; 
    height: 60px;
    display: flex;
    justify-content: flex-start;
    background: url(img/blogheader.jpg); 
}
.maincontent #blogpage .theform #password {
    position: relative;
    height: 37px;
    width: 150px;
    top: calc((60px - 37px)/2);
    margin-left: 20px;
}

.maincontent #blogpage .theform button {
    position: relative;
    height: 32px;
    line-height: 12px;
    margin-left: 10px;
    top: calc((60px - 32px)/2);

}

.maincontent #blogpage .blogpost {
    display: flex;
    width: 80%;
    margin-top: 30px; 
    margin: auto;
}
.maincontent #blogpage .blogpost:hover {
    cursor: pointer; 
    transform: scale(1.05);


}
.maincontent #blogpage .blogpost img{
    width: 140px;
    height: 140px; 
}
.maincontent #blogpage .blogpost .blogtitle {
    width: 80%;
}

/* Projects Page */
.maincontent #projectspage {
    transition: opacity 1.5s ease-out; 
    height: 0; 
    overflow: hidden; 
}

/* Contact Page  */
.maincontent #contactpage {
    transition: opacity 1.5s ease-out; 
    height: 0; 
    overflow: hidden; 
}

