<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'edit.css')}}">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'mathquill4quill.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'semantic/dist/semantic.min.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
 
</head>
<body>
    <div class = "maincontent" style = "overflow-y: scroll">
        <form style = "width: 75%; margin: auto" id = "theform" onsubmit="return false">
            <input type = "text", id = "title", placeholder="Title" style = "width: 100%; height: 40px; margin-top: 20px; margin-bottom: 20px;">
            <input type = "text", id = "desc", placeholder="Description" maxlength="300" style = "width: 100%; min-height: 40px; height: auto; margin-bottom: 20px;">
            <input type = "text", id = "date", placeholder="Date (December 29, 1999)" style = "width: 200px; height: 30px; margin-bottom: 20px;">
            <input type="file" id="myFile" name="filename">
            <input type = "text", id = "contents", style = "display: none;">
            <div id = "editor" style = 'height: 600px; margin-bottom: 20px;'>
            </div>
            <div id = "toolbar">
            </div>
            <div class="ui buttons">
                <button class="ui button" id = "savebut">Save</button>
                <div class="or"></div>
                <button class="ui positive button" id = "postbut">Post</button>
            </div>    
            <p id = "notification" style = "font-size: 16px"></p>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="{{url_for('static', filename = 'mathquill.js')}}"></script>
    <script src="{{url_for('static', filename = 'katex.js')}}"></script>

    <script src="{{url_for('static', filename = 'mathquill4quill.js')}}"></script>

    <script src="{{url_for('static', filename = 'semantic/dist/semantic.min.js')}}"></script>
    <script src="{{url_for('static', filename='edit.js')}}"></script>



</body>