<!DOCTYPE html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'semantic/dist/semantic.min.css')}}">

    <title>Brian's Website</title>
</head>
<body>
    <div class = "main">
        <div class = "sidebar">
            <img id = "myphoto" src = "{{url_for('static', filename = 'img/photo.jpg')}}">
            <div class = "socialicon">
                <a href = "https://www.linkedin.com/in/brian-kim-664794175/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16" style = "padding: 5px">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg></a>
                <a href = "https://github.com/s3kim2018"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" style = "padding: 5px">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></a>
            </div>
            <h3 id = "selfname">Brian Kim</h3>
            <p id = "introduction"> UC Berkeley Computer Science & Statistics Student <br> Class of 2022</p>
            <p class = "menuitem" id = "home">Home</p>
            <p class = "menuitem" id = "about">About Me</p>
            <p class = "menuitem" id = "blog">Blog</p>
            <p class = "menuitem" id = "projects">Projects</p>
            <p class = "menuitem" id = "contact">Contact Me</p>
        </div>
        <div class = "maincontent">
            <div id = "homepage" style = "width: 100%; height: 100%;">
                <p id = "home1">My Name is Brian! I'm a...</p>
                <p id = "home2">Software Developer &#128187;<br>
                Student &#128214;<br>
                Engineer &#128295;<br> </p>
                <a href = "{{url_for('static', filename = 'img/resume.pdf')}}" id = "homebutton"> View My Résumé 📝</a>
            </div>
            <div id = "aboutpage">
                <h2 class="ui header" style = "top: 40px;">
                    <img src="{{url_for('static', filename = 'img/school.png')}}">
                    <div class="content">
                        University of California, Berkeley
                        <div class="sub header">Computer Science and Statistics Major, Aug 2018 ~ May 2022. GPA: 3.61/4.00</div>
                    </div>
                </h2>
                <h4 id = "coursesh"> Courses Taken: </h4>
                <p id = "courses"> •CS61B: Data Structures •CS61C: Machine Structures •CS170: Algorithms •CS70: Discrete Math and Probability Theory •CS188: Artificial Intelligence •CS189: Machine Learning •EE127: Optimization Models •EE16A: Designing Information Systems I •EE16B: Designing Information Systems II •Math53: Multivariable Calculus •Math54: Linear Algebra and Differential Equations •Stats131A: Statistical Methods for Data Science •Stats133: Computing with Data •Stats134: Concepts of Probability •Stats150: Stochastic Processes</p>
                <div class="ui horizontal divider">
                    Work Experience
                </div>
                <h2 class="ui header">
                    <img src="{{url_for('static', filename = 'img/urap.png')}}">
                    <div class="content">
                            Undergraduate Research Apprentice  
                        <div class="sub header">Advised by Professor Sequin, Oct 2020 ~ Present</div>
                    </div>
                </h2>
                <p id = "uraph">
                    • Working with the sweep generation team to develop the Free Form Surface Generator (NOME). <br>
                    • Built a sphere, saddle, and hyperbolic generator that renders a specified shape with a given radius, angle, and cross-section. <br>
                    • Helped implementing a sharpening feature with the Catmull-Clark Subdivision Algorithm.  <br>
                    • Debugged shape generation, point and face selection, and frame rates. <br>
                </p>
                <h2 class="ui header">
                    <img src="{{url_for('static', filename = 'img/engineering.png')}}">
                    <div class="content">
                        Academic Intern 
                        <div class="sub header">Lab Assistant for Data Structures and Introductory CS Classes, Jan 2019 ~ May 2020</div>
                    </div>
                </h2>
                <p id = "labassistanth"> • For the introductory python course, I guided students on completing assignments related to the Python language, Recursion, and basic data structures such as Binary Trees and Linked Lists. <br>
                • For the data structures course, I helped students complete projects and taught topics like Hashing, Priority Queue, Minimax, Asymptotic Analysis, Red-Black Trees, Graphs, and Dynamic Programming. </p>
                <h2 class="ui header">
                    <img src="{{url_for('static', filename = 'img/codesuite.jpg')}}">
                    <div class="content">
                        CodeSuite Full Stack Software Engineering Intern 
                        <div class="sub header">Web Development Team, May 2020 ~ Aug 2020</div>
                    </div>
                </h2>
                <p id = "codesuiteh"> • Built many of the client side interfaces: built the code editor and a timer for coding competitions. <br>
                    • Worked on Spring Security, building endpoints for server side functionality of user-authentication. <br>
                    • Built endpoints for user database management and implemented features that allowed users to customize
                    their interview profile. <br>
                    • Built front end templates for the main, contest, login/register, and problems page. <br> </p>
                <h2 class="ui header">
                    <img src="{{url_for('static', filename = 'img/dailycal.png')}}">
                    <div class="content">
                        The Daily Californian Projects Developer  
                        <div class="sub header">Front-End & Data Analytics Team, March 2019 ~ May 2020</div>
                    </div>
                </h2>
                <p id = "dailycalh"> • Brainstormed creative content about the Bay Area that could be put on the site with some front-end work. <br>
                     • Built software that predicts Berkeley’s water supply level in the event of a natural disaster. </p>
                <div class="ui horizontal divider">
                    Languages & Technologies
                </div>
                <br>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/python.png')}}">
                    Python
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/java.png')}}">
                    Java
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/C.png')}}">
                    C
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/C++.png')}}">
                    C++
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/html.png')}}">
                    HTML5
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/css.png')}}">
                    CSS
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/js.png')}}">
                    JavaScript
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/r.png')}}">
                    R-Studio
                </a>
                <br>
                <br>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/flask.png')}}">
                    Flask
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/spring.png')}}">
                    Spring Framework
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/openmp.png')}}">
                    OpenMP
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/pytorch.png')}}">
                    PyTorch
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/jquery.png')}}">
                    JQuery
                </a>
                <a class="ui image label">
                    <img src="{{url_for('static', filename = 'img/react.png')}}">
                    React
                </a>
                <br>
                <br>
                <div class="ui horizontal divider">
                    Awards & Honors
                </div>
                <h2 class="ui header" style = "font-size: 20px">
                    <img src="{{url_for('static', filename = 'img/collegeboard.png')}}">
                    <div class="content">
                        AP Scholar With Distinction
                        <div class="sub header">College Board, March 2018</div>
                    </div>
                </h2>
                <h2 class="ui header" style = "font-size: 20px">
                    <img src="{{url_for('static', filename = 'img/reagan.png')}}">
                    <div class="content">
                        Ronald Reagan Student Leadership Award
                        <div class="sub header">Reagan Foundation, November 2017</div>
                    </div>
                </h2>
                <h2 class="ui header" style = "font-size: 20px">
                    <img src="{{url_for('static', filename = 'img/vanderbilt.png')}}">
                    <div class="content">
                        VandyHacks 2nd Place & Best use of Google Cloud
                        <div class="sub header">Vanderbilt University, July 2020</div>
                    </div>
                    </h2>

                <br>
                <br>
            </div>
            
            <div id = "blogpage" style = "padding: 0;">
                <div class = "theform">
                    <div class="ui left corner labeled input" id = "password">
                        <input type="password" placeholder="Password" id = "thepass">
                        <div class="ui left corner label">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <button id = "newpost" class="ui primary button">
                        New Post
                    </button>
                    <button id = "editpost" class="ui button">
                        Edit Post
                    </button>
                </div>
                {% for post in posts %}
                <a class = "blogpost" href = "/blogpost/{{post.url}}">
                    <img src = "{{url_for('static', filename = 'img/collegeboard.png')}}">
                    <div class = "blogtitle">
                        <h2 style = "margin-top: 18px; margin-bottom: 0; color: black;"> {{post.name}}</h2>
                        <p style = "padding: 0; margin: 0; color: black;">{{post.date}}</p>
                        <p class = "subcontent" style = "word-wrap: break-word; color: black;">{{post.content}}</p>
                    </div>
                </a>
                {% endfor %}

            </div>
            <div id = "projectspage">

            </div>
            <div id = "contactpage">

            </div>

        </div>

    </div>
    <script type="text/javascript" src="{{url_for('static', filename='sha256.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'semantic/dist/semantic.min.js')}}"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>

</body>